<!DOCTYPE html>
<html lang="en" ng-app="allegroProject">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Turtle Facts and Quiz</title>
  <!-- Bootstrap css and my own css -->
  <link rel="stylesheet" 
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
  integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
  crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>
<body >
  <div class="container" ng-controller="allegroController as vm" ng-init="vm.startSlider(0)">
   <div class="page-header">
    <h1>Witaj w wyszukiwarce filmów!</h1>
    <h3>
      Znajdź swój film na dzisiaj!
    </h3>
  </div>

  <div class="menu">
          <ol>
        <li><a href="#">Strona główna</a></li>
        <li><a href="#">Filmy</a>
          <ul>
            <li><a href="#">Nowości</a></li>
            <li><a href="#">Top wszechczasów</a></li>
            <li><a href="#">Najnowsze</a></li>
            <li><a href="#">Polecane</a></li>
          </ul>
        </li>
        <li><a href="#">Aktorzy</a>
          <ul>
            <li><a href="#">Top aktorzy</a></li>
            <li><a href="#">Najpopularniejsi</a></li>
            <li><a href="#">Laureaci Oscara 2017</a></li>
            <li><a href="#">Wyszukiwarka aktorów</a></li>
          </ul>
        </li>
        <li><a href="#">Seriale</a>
          <ul>
            <li><a href="#">Nowości</a></li>
            <li><a href="#">Top seriale</a></li>
            <li><a href="#">Najpopularniejsze</a></li>
            <li><a href="#">Polecane</a></li>
          </ul>
        </li>
        <li><a href="#">W kinach</a>
          <ul>
            <li><a href="#">Co nowego</a></li>
            <li><a href="#">Lista seansów</a></li>
            <li><a href="#">Promocje</a></li>
            <li><a href="#">Ceny</a></li>
          </ul>
        </li>
        <li><a href="#">O autorach</a></li>
      </ol>
  </div>








<div class="topbar">
    <div class="topbarL" style="float: left;" id="sliderJS">
        <img style="width: 300px" ng-repeat="slide in vm.slides" class="slide" ng-hide="!vm.isCurrentSlideIndex($index)" ng-src="{{slide.image}}">
          
        <nav class="nav">
            <div class="wrapper">
                <ul class="dots">
                    <li class="dot" ng-repeat="slide in vm.slides">
                        <a href="#" ng-class="{'active':isCurrentSlideIndex($index)}" ng-click="vm.setCurrentSlideIndex($index);">{{slide.description}}</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="topbarR" ng-if="vm.mov==0">
<div><h3>Sed ut perspiciatis unde</h3></div>
<div>omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consec</div>
</div>
    <div class="topbarR" ng-if="vm.mov==1">
<div><h3>Cokolwiek o drugim filmie</h3></div>
<div>quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</div>
</div>
    <div class="topbarR" ng-if="vm.mov==2">
<div><h3>Cokolwiek o trzecim filmie</h3></div>
<div>ouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circum</div>
</div>
    <div class="topbarR" ng-if="vm.mov==3">
<div><h3>Cokolwiek o czwartym filmie</h3></div>
<div>tiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distin</div>
</div>
    <div class="topbarR" ng-if="vm.mov==4">
<div><h3>Cokolwiek o piątym filmie</h3></div>
<div>en who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our pow</div>
</div>
<div style="clear: both;"></div>
</div>


  <form class="form-inline well well-sm clearfix">
    <span class="glyphicon glyphicon-search"></span>
    <input 
    type="text" 
    placeholder="Podaj tytuł..." 
    class="form-control"
    ng-model="vm.titles">
    <input ng-show="vm.wyniki==1"
    type="text" 
    placeholder="Filtruj po tytule" 
    class="form-control"
    ng-model="vm.search.title">
    <button ng-show="vm.wyniki==1" class="btn btn-warning"
    ng-click="vm.orderMovies()">
    <strong>Sortuj po tytule</strong>
    </button>
    <button class="btn btn-warning pull-right"
    ng-click="vm.getMovies()">
    <strong>Szukaj</strong>
    </button>
</form>
<div class="row">
  <div class="col-sm-6" ng-repeat="movie in vm.data | filter:vm.search| orderBy:vm.order">
    <div class="well well-sm">
      <div class="row">
        <div class="col-md-6" ng-show="movie.poster_path.length">
          <img ng-src="https://image.tmdb.org/t/p/w640/{{movie.poster_path}}" 
          class="img-rounded img-responsive well-image">
        </div>
        <div class="col-md-6" ng-show="!movie.poster_path.length">
          <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5RcNzQFstJF3GJpYKQ6cOZ5TMr0sUYbZC3HgY8FF3p2BoHe5W" 
          class="img-rounded img-responsive well-image ">
        </div> 
        <div class="col-md-6">         
          <h4>{{movie.title}}</h4>
          <p><strong>Tytuł oryginalny: </strong>{{movie.original_title}}</p>
          <p><strong>Data publikacji: </strong>{{movie.release_date | date}}</p>
          <p><strong>Popularność: </strong>{{movie.popularity}}</p>
          <p><strong>Liczba głosów: </strong>{{movie.vote_count}}</p>
          <p><strong>Średnia ocena z głosów: </strong>{{movie.vote_average}}</p>
          <button class="btn btn-primary pull-right"
          data-toggle="modal"
          data-target="#info"
          ng-click="vm.changeActive(movie)">Szczegóły</button>
        </div>
      </div><!-- row -->
    </div><!-- well -->
  </div><!-- col-xs-6 -->
</div>
<!-- OKIENKO ZE SZCZEGOLAMI -->
<div class="modal" id="info" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2>{{vm.activeMovie.original_title}}</h2>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2" ng-show="vm.activeMovie.poster_path.length">
            <img ng-src="https://image.tmdb.org/t/p/w640/{{vm.activeMovie.poster_path}}" 
            class="img-rounded img-responsive ">
          </div>
          <div class="col-xs-8 col-xs-offset-2" ng-show="!vm.activeMovie.poster_path.length">
            <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5RcNzQFstJF3GJpYKQ6cOZ5TMr0sUYbZC3HgY8FF3p2BoHe5W" 
            class="img-rounded img-responsive ">
          </div>           
        </div>
        <div class="row top-buffer">
          <div class="col-md-6">
            <p><strong>Gatunek: </strong> </p>
            <div ng-show="!vm.genres.length"> BRAK DANYCH</div>
            <div ng-repeat="genre in vm.genres">
              {{genre.name}}
            </div></br>                          
            <p><strong>Kraj Produkcji: </strong></p>
            <div ng-show="!vm.productionCountry.length"> BRAK DANYCH</div>
            <div ng-repeat="count in vm.productionCountry">
              {{count.name}}
            </div></br>
            <p><strong>Firma Produkcji: </strong></p>
            <div ng-show="!vm.productionCompanies.length"> BRAK DANYCH</div>
            <div ng-repeat="prod in vm.productionCompanies" >
              {{prod.name}}
            </div></br>
            <p>
              <a href="https://www.themoviedb.org/movie/{{vm.activeMovie.id}}">Sprawdź na MovieDB!</a>
            </p>
          </div>
          <div class="col-xs-12 top-buffer">
            <p>{{vm.details.overview}}</p>
            <button class="btn btn-danger pull-right" 
            data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- third party js -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="bower_components/angular-i18n/angular-locale_pl-pl.js"></script>

<!-- Our application scripts -->
<script src="js/app.js"></script>


<script src="js/Controllers/allegroController.js"></script>



</body>
</html>
